{{#each items}}
<div class="friend" data-id={{id}} draggable="true">
    <div class="friend-content">
        <div class="image-friend">
            <img src="{{photo_100}}" alt="">
        </div>
        <div class="friend-txt"> {{first_name}} {{last_name}}</div>
    </div>
    {{#if ../left}}
    <div class="image-plus" data-id={{id}}>
        <img class="plus" src="./src/images/plus.png" alt="">
    </div>
    {{else}}
    <div class="image-delete" data-id={{id}}>
        <img class="delete" src="./src/images/delete.png" alt="">
    </div>
    {{/if}}
</div>
{{/each}}
